/.idea/
/.pio/
/cmake-build-debug/
/cmake-build-default/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/cmake-build-mkr1000usb/
/cmake-build-minsizerel/

/include/config/Secrets.h
/CMakeLists.txt
/CMakeListsPrivate.txt
